# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Vite
.vite/

# VS Code
.vscode/

# coverage
coverage/

# Runtime logs
backend/logs/*.log